{% extends "home_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
    	<form method = "POST">
    		{% csrf_token %}
    		<fieldset class="form-group" style="max-width: 700px;">
    			<legend class="border-bottom mb-4" style="padding: 20px;">
    				Join Today
    			</legend>
            <div class="posts" style="border: 3px solid green; padding: 50px; margin: 50px; background-color: black; color: white;">
    			{{ form|crispy }}
    		</fieldset>
    		<div class="form-group" style="padding-left: 80px;">
    			<button class="btn btn-outline-info" type="submit" style="background-color: yellow;">
    				Sign Up
    			</button>
    		</div>
    	</form>
    	<div class="border-top pt-3" style="padding: 20px;">
    		<small class="text-muted">Already have an account?
    			<a href="{% url 'login' %}" class="ml-2">Sign In</a>
    		</small>
    	</div>
    </div>
{% endblock content%} 